
.divGeneralSkill{
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}

.textStyle{
    margin: 0rem 0rem 0rem 1rem;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
}

    @media(max-width: 768px){
        .textStyle{
            font-weight: 500;
            font-size: 15px;
            margin: 6px;
        }
    }

.buttonMedia{
    color: rgb(0, 174, 246);  
}

/* OLD DESING
.divGeneral{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background-color: rgb(14, 18, 41);
    padding: 20px;
    width: 160px;
    height: 220px;
    border-radius: 30px;
    border: 1px solid rgb(0, 174, 246);
}

.divGeneral:hover {
    margin-top: 4px;
    color: rgb(0, 174, 246);
    .textStyle, .buttonMedia {
        color: rgb(0, 174, 246);
      }
  }

    @media(max-width: 768px){
        .divGeneral{
            width: 80px;
            height: 110px;
        }
    }

.textStyle{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

    @media(max-width: 768px){
        .textStyle{
            font-weight: 500;
            font-size: 15px;
            margin: 6px;
        }
    }

.buttonMedia{
    color: white;  
} */


