
.divSecundario{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

    @media (max-width: 768px) {
        .divSecundario{
            width: 80%;
            margin: 0 auto;
        }
    }   

.buttonMedia{
    margin: 5px;
    color: white;
}

.buttonMedia:hover{
    color: rgb(0, 174, 246)
}