
.divGeneral{
    background-color: rgb(8, 28, 41, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.buttonMedia{
    margin: 5px;
    color: white;
}

.buttonMedia:hover{
    color: rgb(0, 174, 246)
}