
.divPrincipal{
    background-color: rgb(8, 28, 41, 0.4); 
    padding: 50px 20px 50px 20px;
}

    @media (max-width: 768px) {
        .divPrincipal{
        padding: 80px 15px 50px 15px;
        }
    }

.divGeneral{
    margin: 40px;
    height: 1020px;
    background-color: rgb(8, 28, 41, 0.6);
    border-radius: 30px;
}

    @media (max-width: 1080px) {
        .divGeneral{
            margin: 5px;
        }
    }

    @media (max-width: 768px) {
        .divGeneral{
        margin: 5px;
        height: 780px;
        }
    }

.principalContainer{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    /* background-color: rgba(100, 202, 233, 0.459); */
    margin: 0px auto;
  }

    @media (max-width: 768px) {
        .principalContainer{
        height: 340px;
        width: 80%;
        }
    }
  
.secondaryContainer{
    height: 600px;
    width: 720px;
    /* background-color: rgba(100, 233, 100, 0.459); */
    margin: 0px auto;
    border-radius: 30px;
    overflow: hidden;
}

    @media (max-width: 1080px) {
        .secondaryContainer{
            height: 600px;
            width: 600px;
        }
    }

    @media (max-width: 768px) {
        .secondaryContainer{
            height: 340px;
            width: 300px;
        }
    }
  
.image{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);
    object-fit: fill;
}

    @media (max-width: 768px) {
        .image{
            object-fit:cover;
        }
    }
  
.flechaizquierda1{
    display: flex; 
    position: relative; 
    font-size: 200px;
    cursor: pointer;
    color: white;
    transform: translate(0, 80%);
    margin-left: 40px;
    user-select: none;
    height: 200px;
}


    @media (max-width: 1080px) {
        .flechaizquierda1{
            font-size: 150px;
            height: 150px;
            margin-left: 10px;
            transform: translate(0, 80%);
        }
    }

    @media (max-width: 768px) {
        .flechaizquierda1{
        font-size: 100px;
        height: 100px;
        margin-left: 0px;
        transform: translate(0, 80%);
        }
    }
    
.flechaizquierda1:hover,
.flechaderecha1:hover{
    color: rgb(0, 174, 246);
}
  
.flechaderecha1{
    display: flex; 
    position: relative; 
    font-size: 200px;
    cursor: pointer;
    color: white;
    transform: translate(0, 80%);
    margin-right: 40px;
    user-select: none;
    height: 200px;
}


    @media (max-width: 1080px) {
        .flechaderecha1{
            font-size: 150px;
            height: 150px;
            margin-right: 10px;
            transform: translate(0, 80%);
        }
    }

    @media (max-width: 768px) {
        .flechaderecha1{
        font-size: 100px;
        height: 100px;
        margin-right: 0px;
        transform: translate(0, 80%);
        }
    }     

.linkCards{
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start; 
}