
.divGeneral{
    background-color: rgb(8, 28, 41, 0.6);
    margin: 20px 50px 20px 50px;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

.iconos{
    color: rgb(0, 174, 246);
}

.generalText{
    color: white;
    font-weight: 400;
    font-size: large;
    margin-right: 5px;
}

.button{
    background-color: rgb(0, 174, 246);
    color: white;
    font-weight: 600;
    font-size: medium;
    padding: 10px;
    border-radius: 30px;
}

.button:hover{
    background-color: white;
    color: rgb(0, 174, 246)
}

.input{
    width: 350px;
    border-radius: 10px;
    border: 1px solid rgb(0, 174, 246);
}