
.generalSkills{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start; 
    
}

.skills{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start; 
    background-color: rgb(14, 18, 41);
    border-radius: 0.2rem;
}

  @media(max-width: 1080px){
    .skills{
      margin: 0.5rem;
    }
  }

.deployButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 174, 246);
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    height: 2.2rem;
    padding: 0.2rem 1rem;
    cursor: pointer;
}

/* Para transición de idiomas */
.p1, .p2 {
    margin-top: -7%;
    position: absolute;
    transition: opacity 2s ease-in-out;
    opacity: 1;
  }
  
.p3, .p4{
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -130%);
  position: absolute;
  transition: opacity 2s ease-in-out;
  opacity: 1;
}

  @media(max-width: 768px){
    .p3, .p4{
      transform: translate(-50%, -110%);
    }
  }

.transition {
    transition: opacity 0s ease-in-out;
    opacity: 0;
  }
  
.divChange{
  position: relative;
}

/* Open y Close the div with skills */
.closeDiv {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.8s ease-in-out, max-height 0.8s ease-in-out, visibility 0.8s ease-in-out;
}

.openDiv {
  opacity: 1;
  visibility: visible;
  max-height: 1000px;
  overflow: hidden;
  transition: opacity 1s ease-in-out, max-height 1s ease-in-out, visibility 1s ease-in-out;
}

/* .Skills{   OLD DESING
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start; 
} */