
.linksStyles {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}

.linksStyles:hover {
    color: rgb(0, 174, 246);
}

.divLinks {   
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding-right: 50px;
}

.mainStyle{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgb(8, 28, 41);
}

.generalContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonMedia{
    margin: 4px;
    color: white;  
}

.buttonMedia:hover{
    margin: 4px;
    color: rgb(0, 174, 246);
}